@import "compass"

$amarillo: #f2c312
$azlMarino: #3e527b
$cajas_alineadas: inline-block
$padd_6_2: 8.6em
$padd_6_1: 8.4em
$padd_6_1: 8.2em
$padd_6: 8em
$padd_5_2: 6.6em
$padd_5_2: 6.4em
$padd_5_1: 6.2em
$padd_5: 6em
$padd_4: 4em
$padd_3_2: 3.6em
$padd_3_1: 3em
$padd_3_3: 2.6em
$padd_3: 2em
$padd_2: 1.8em
$padd_1_6: 1.6em
$padd_1_4: 1.6em
$padd_1_3: 1.4em
$padd_1_2: 1.2em
$padd_1_1: 1em
$padd_1: 0.5em
$gris: #c6cfd3

%botonesGrices
  color: $gris
  display: $cajas_alineadas
  padding: $padd_1 $padd_1_1
  +transition(all .4s linear)
  span
    color: $amarillo
    font-weight: bold
    font-size: $padd_1_1
  &:hover
    +scale(1.1)
    color: scale-lightness($gris, 37%)

body
  background: url(../img/background.png)
  font-family: 'Ubuntu', sans-serif
  font-size: 10px
  line-height: 150%
  font-weight: lighter

footer
  bottom: 0

a
  text-decoration: none

.anchoTitulo
  max-width: 650px
  height: 150px

.anchoTextoHexa
  height: 310px

.alVeinte
  width: 99.8%
.alTreinta
  width: 99.8%
.alCuarenta
  width: 99.8%
.alCincuenta
  width: 99.8%
.alSesenta
  width: 99.8%
.alSetenta
  width: 99.8%
.alOchenta
  width: 99.8%
.alNoventa
  width: 99.8%
.alCien
  width: 99.8%

.alineado_vertical
  vertical-align: top

.alinear_ala_dere
  text-align: right

.distribuidores
  font-size: $padd_3_1

.cajaTPU
  font-size: 16px
  font-weight: bold
  height: auto
  text-align: center
  width: 250px

.centrado
  margin: 0 auto

.color
  border: 1px solid transparent

.contenedorPrincipal
  background: url('../img/inicio-UPB-poliuretanos-resinas-pigmentos-procesos-industriales.png')  top center no-repeat

.contenedorAcerca
  background: url('../img/acerca-UPB-poliuretanos-resinas-pigmentos-procesos-industriales.png')  top center no-repeat

.contenedorProductos
  background: url('../img/productos-UPB-poliuretanos-resinas-pigmentos-procesos-industriales.png')  top center no-repeat


.con_line_height
  line-height: 120%

.galeria
  width: 250px
  height: 250px
  margin-bottom: 15em

.italiaMexico
  width: 250px
  font-size: $padd_2
  color: $gris
  span
    color: $amarillo

.letra_chica
  font-size: $padd_2

.letra_mini_1
  font-size: $padd_1_6

.letra_mini
  font-size: $padd_1

.letra_grd
  font-size: $padd_5_2

.letra_mediana
  font-size: $padd_3

.letra_resaltada
  font-size: 26px

.letra_titulos
  font-size: 30px
  line-height: 100%

.marcaItaliana
  background-color: $amarillo
  +border-radius(5px)
  height: 30px
  font-weight: normal
  width: 270px

.marginArriba
  margin-top: 18em

.marginArriba_1
  margin-top: 2em

.menos_margin_1
  margin-top: -5px

#menu
  width: 99%
  li
    display: $cajas_alineadas
  li a
    @extend %botonesGrices


.menuProductos
  margin-top: $padd_5_2*2
  p
    width: 99%
    font-size: 11px
    padding: 0.1em 0
  p a
    @extend %botonesGrices
    font-size: 22px

.mi_alineacion
  display: $cajas_alineadas
  +box-sizing(border-box)

.negrita
  font-weight: bold

.slide
  list-style: none outside none
  overflow: hidden
  width: 433px
  height: 290px
  padding: 0px
  margin: 0 0 10px

.sinLine
  line-height: 0%

.subeMargen
  margin-top: -10px

.texto_al_centro
  text-align: center

.tipos_amarillo
  color: $amarillo

.tipo_gris
  color: $gris

.tipos_azul
  color: $azlMarino

.titulo_poliuretano
  font-size: 32px

.tituloPoliu
  max-width: 320px

//Acerca de

.contenedorHexa, .contenedorHexaNegro
  height: 507px
  margin-bottom: 20em
  width: 449px

.contenedorHexa
  background: url('../img/hexagono_grd_amarillo_UPB_poliuretano.png') center no-repeat

.contenedorHexaNegro
  background: url('../img/hexagono_grd_azul_UPB_resinas.png') center no-repeat
  

.flechaArriba
  padding-top: $padd_2



@media (min-width: 1200px)
  .cajaTPU
    font-size: $padd_2
    text-align: right
    display: inline-block
    width: 300px

  .titulo_poliuretano
    font-size: $padd_4

  .tituloPoliu
    display: inline-block

  .alVeinte
    width: 19%
  .alTreinta
    width: 29%
  .alCuarenta
    width: 39%
  .alCincuenta
    width: 49%
  .alSesenta
    width: 59%
  .alSetenta
    width: 68%
  .alOchenta
    width: 79%
  .alNoventa
    width: 89%
  .alCien
    width: 99%

@media (min-width: 768px) and (max-width: 1199px)
  .cajaTPU
    font-size: $padd_2
    text-align: right
    display: inline-block
    width: 300px

  .titulo_poliuretano
    font-size: $padd_4
  .tituloPoliu
    display: inline-block

  .alVeinte
    width: 19%
  .alTreinta
    width: 29%
  .alCuarenta
    width: 39%
  .alCincuenta
    width: 49%
  .alSesenta
    width: 59%
  .alSetenta
    width: 68%
  .alOchenta
    width: 79%
  .alNoventa
    width: 89%
  .alCien
    width: 99%

@media (min-width: 451px) and (max-width: 767px)


