body {
  background: url(../img/background.png);
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  line-height: 200%;
}

footer {
  bottom: 0;
}

a {
  text-decoration: none;
}

.anchoTitulo {
  max-width: 650px;
  height: 150px;
}

.alVeinte {
  width: 99.8%;
}

.alTreinta {
  width: 99.8%;
}

.alCuarenta {
  width: 99.8%;
}

.alCincuenta {
  width: 99.8%;
}

.alSesenta {
  width: 99.8%;
}

.alSetenta {
  width: 99.8%;
}

.alOchenta {
  width: 99.8%;
}

.alNoventa {
  width: 99.8%;
}

.alCien {
  width: 99.8%;
}

.alineado_vertical {
  vertical-align: top;
}

.alinear_ala_dere {
  text-align: right;
}

.distribuidores {
  font-size: 2.6em;
}

.cajaTPU {
  font-size: 16px;
  font-weight: bold;
  height: auto;
  text-align: center;
  width: 250px;
}

.centrado {
  margin: 0 auto;
}

.color {
  border: 1px solid red;
}

.contenedorPrincipal {
  background: url("../img/inicio-UPB-poliuretanos-resinas-pigmentos-procesos-industriales.png") top center no-repeat;
}

.galeria {
  width: 250px;
  height: 250px;
  margin-bottom: 15em;
}

.italiaMexico {
  width: 250px;
  font-size: 2em;
  color: #c6cfd3;
}

.italiaMexico span {
  color: #f2c312;
}

.letra_grd {
  font-size: 6.4em;
}

.letra_titulos {
  font-size: 26px;
}

.letra_mediana {
  font-size: 2em;
}

.letra_chica {
  font-size: 1.8em;
}

.marcaItaliana {
  background-color: #f2c312;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 270px;
}

.marginArriba {
  margin-top: 15em;
}

#menu {
  width: 80%;
}

#menu li {
  display: inline-block;
}

#menu li a {
  color: #c6cfd3;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#menu li a span {
  color: #f2c312;
}

#menu li a:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: #dbe1e3;
}

.mi_alineacion {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.negrita {
  font-weight: bold;
}

.slide {
  list-style: none outside none;
  overflow: hidden;
  width: 433px;
  height: 290px;
  padding: 0px;
  margin: 0 0 10px;
}

.sinLine {
  line-height: 0%;
}

.texto_al_centro {
  text-align: center;
}

.tipos_amarillo {
  color: #f2c312;
}

.tipos_azul {
  color: #3e527b;
}

.titulo_poliuretano {
  font-size: 32px;
}

.tituloPoliu {
  max-width: 320px;
}

.contenedorHexa {
  background: url("../img/hexagono_grd_amarillo_UPB_poliuretano.png") center no-repeat;
  height: 507px;
  margin-bottom: 20em;
  width: 449px;
}

.flechaArriba {
  padding-top: 2em;
}

.anchoTextoHexa {
  height: 300px;
}

@media (min-width: 1200px) {
  .cajaTPU {
    font-size: 1.8em;
    text-align: right;
    display: inline-block;
    width: 300px;
  }

  .titulo_poliuretano {
    font-size: 4em;
  }

  .tituloPoliu {
    display: inline-block;
  }

  #trianguloAbajo {
    background: url("../img/trianguloAmarillo_UPB.png") center no-repeat;
    min-height: 180px;
  }

  .alVeinte {
    width: 19%;
  }

  .alTreinta {
    width: 29%;
  }

  .alCuarenta {
    width: 39%;
  }

  .alCincuenta {
    width: 49%;
  }

  .alSesenta {
    width: 59%;
  }

  .alSetenta {
    width: 68%;
  }

  .alOchenta {
    width: 79%;
  }

  .alNoventa {
    width: 89%;
  }

  .alCien {
    width: 99%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cajaTPU {
    font-size: 1.8em;
    text-align: right;
    display: inline-block;
    width: 300px;
  }

  .titulo_poliuretano {
    font-size: 4em;
  }

  .tituloPoliu {
    display: inline-block;
  }

  .alVeinte {
    width: 19%;
  }

  .alTreinta {
    width: 29%;
  }

  .alCuarenta {
    width: 39%;
  }

  .alCincuenta {
    width: 49%;
  }

  .alSesenta {
    width: 59%;
  }

  .alSetenta {
    width: 68%;
  }

  .alOchenta {
    width: 79%;
  }

  .alNoventa {
    width: 89%;
  }

  .alCien {
    width: 99%;
  }
}