@import "compass"

$amarillo: #f2c312
$gris: #c6cfd3
$azlMarino: #3e527b
$padd_grd: 10em
$padd_med: 5em
$padd_chi: 0.8em
$padd_mini: 0.5em

%triangulote
  background: url('../img/trianguloAmarillo_UPB.png') center no-repeat
  min-height: 180px

body
  background: url(../img/background.png)
  font-family: 'Ubuntu', sans-serif

footer
  bottom: 0

a
  text-decoration: none

.texto_al_centro
  text-align: center

.alCien
  width: 99%

.centrado
  margin: 0 auto

.color
  border: 1px solid red

#menu
  width: 80%
  li
    display: inline-block
  li a
    display: inline-block
    color: $gris
    font-weight: bold
    padding: $padd_mini
    +transition(all .4s linear)
    span
      color: $amarillo
    &:hover
      +scale(1.1)
      color: scale-lightness($gris, 37%)

#trianguloAbajo
  background: url('../img/trianguloAmarillo_UPB_mobil.png') center no-repeat
  width: auto
  min-height: 130px


@media (min-width: 1200px)
  #trianguloAbajo
    background: url('../img/trianguloAmarillo_UPB.png') center no-repeat
    min-height: 180px

@media (min-width: 768px) and (max-width: 979px)

@media (max-width: 767px)
     
