<!doctype html>
%html{:lang => "es"} 
  %head 
    %meta{:charset => "UTF-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    %title UPB- Poliuretanos, Termoplástico.
    %link{:rel => "stylesheet", :href => "css/normalize.css"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/ 
    %link{:rel => "stylesheet", :href => "css/general.css"}/ 
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu:500,700"}/
  %body
    %header.encabezadoUPB.color
    %nav#menu.texto_al_centro.centrado.color
      %ul
        %li.color
          %a{:title => "UPB Home", :href => "#Home"}  
            %span [ 
            Inicio 
            %span ]
        %li.color 
          %a{:title => "Productos y servicios", :href => "#Productos"}  
            %span [
            Productos y servicios
            %span ]
        %li
          %a.color{:title =>"Acerca de UPB", :href => "#AcercaUPB"}   
            %span [
            Acerca de UPB
            %span ]
        %li
          %a{:title =>"Contacto UPB", :href => "#Contacto"}   
            %span [
            Contacto
            %span ]
        %li 
          %a{:title =>"Ubicación UPB", :href => "#Ubicacion"}  
            %span [
            Ubicación
            %span ]
    %section.alCien.color
      %section.alOchenta.centrado.color
        .alCuarenta.mi_alineacion.tipos_amarillo.alinear_ala_dere.color
          %h1.letra_grd.negrita
            TPU
        .alSesenta.mi_alineacion.color.tituloPoliu
          .tipos_amarillo.letra_mediana
            %p
              POLIURETANO
            %p
              TERMOPLÁSTICO  

    %footer.alCien.centrado.texto_al_centro
      %figure#trianguloAbajo
    
    %script{:src => "js/jquery.js"}
    %script{:src => "js/modernizr.js"} 
    %script{:src => "js/general.js"}  
		
	
