<!doctype html>
%html{:lang => "es"} 
  %head 
    %meta{:charset => "UTF-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    %title UPB- Poliuretanos, Termoplástico.
    %link{:rel => "stylesheet", :href => "css/normalize.css"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/ 
    %link{:rel => "stylesheet", :href => "css/general.css"}/ 
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu:400,300,700"}/
  %body
    .contenedorProductos.color
      %nav#menu.texto_al_centro.centrado.color.marginArriba
        %ul
          %li.color
            %a.letra_mini_1{:title => "UPB Home", :href => "index.html"}  
              %span [ 
              INICIO 
              %span ]
          %li.color 
            %a.letra_mini_1{:title => "Productos y servicios", :href => "productos.html"}  
              %span [
              PRODUCTOS Y SERVICIOS
              %span ]
          %li
            %a.color.letra_mini_1{:title =>"Acerca de UPB", :href => "acerca.html"}   
              %span [
              ACERCA DE UPB
              %span ]
          %li
            %a.letra_mini_1{:title =>"Contacto UPB", :href => "#Contacto"}   
              %span [
              CONTACTO
              %span ]
          %li 
            %a.letra_mini_1{:title =>"Ubicación UPB", :href => "#Ubicacion"}  
              %span [
              UBICACIÓN
              %span ]
      %section.alCien.color.cambioAjax
        .centrado.color.contenedorHexaNegro
          .alCien.color.mi_alineacion.texto_al_centro.menuProductos.sinLine
            %p 
              %a.negrita{title: "TPU LARIPUR", href: "#"}
                <span>[</span>TPU<span>]</span>LARIPUR
              %p.tipo_gris  POLIURETANO TERMOPLÁSTICO
            %p 
              %a.negrita{title:"TPU UREXTER", href:"#"}
                <span>[</span>PUR<span>]</span>UREXTER
              %p.tipo_gris  POLIURETANO VACIADO       
            %p 
              %a.negrita{title:"TONER/ACABADOS/MB", href:"#"}
                <span>[</span>TONER/ACABADOS/MB<span>]</span>
              %p.tipo_gris PARA RESINAS PLÁSTICAS       
            %p 
              %a.negrita{title:"ABS/PVC/TR", href:"#"}
                <span>[</span>ABS/PVC/TR<span>]</span>
              %p.tipo_gris  PLÁSTICOS DE INGENIERIA      
    
    %script{:src => "js/jquery.js"}
    %script{:src => "js/modernizr.js"}
    %script{:src => "js/jquery.ulslide.js"}
    %script{:src => "js/jquery.easing.1.3.js"}
    %script{:src => "js/jquery.mousewheel.js"} 
    %script{:src => "js/general.js"}  
    
  
